%div.jumbotron.jumbotron-fluid(style="background-image: url(https://picsum.photos/id/500/1920/1080/)")
	%div.container(style="height: 400px;")
		%h1.typography-display-3.text-center(style=" margin-top: 250px")
			File Cabinet
		%p.lead.text-center
			Your life's work. Organized, always.